/* CSS HEX */
:root{
--secondary-color: #818479ff;
--ash-gray: #b5cbb7ff;
--tea-green: #d2e4c4ff;
--cream: #e4e9b2ff;
--primary-color: #e7e08bff;
--white:#ffffff;
--black: #1A1B25;

--primary-font: "Lato", sans-serif;
--secondary-font: "Ubuntu", sans-serif;
--header-font: "Rubik", sans-serif
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

nav{
    display: flex;
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}
